
@{
    ViewData["Title"] = "CustomOrPreset";
}
<h1>CustomOrPreset</h1>

<h2>@Html.ActionLink("Custom Order", "UserCustom", "Home")</h2>
<h2>@Html.ActionLink("Preset Order", "UserPreset", "Home")</h2>
