@{
    ViewData["Title"] = "UserLocations";
}


    <h2>@Html.ActionLink("Location 1: ", "CustomOrPreset", "Home")</h2>
    <h2>@Html.ActionLink("Location 2: ", "CustomOrPreset", "Home")</h2>
    <h2>@Html.ActionLink("Location 3: ", "CustomOrPreset", "Home")</h2>
    <!--
     This is the card coded way of creating a link in HTML to another page without using razor syntax

     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login"><button>Login</button></a>
     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register"><button>Register</button></a>

    -->