
@{
    ViewData["Title"] = "UserPreview";
}

<h1>UserPreview</h1>
<p>Your order is " " and costs " ".</p>

<h2>@Html.ActionLink("Confirm Order", "UserOption", "Home")</h2>

<h2>@Html.ActionLink("Edit Order", "UserOrder", "Home")</h2>

