@model PizzaWebsite.Models.LocationModel
@{
    ViewData["Title"] = "UserLocation";
}


    <h1>@ViewData["username"], please pick your Location</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserLocation" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <span asp-validation-for="Location" class="text-danger"></span>
                <select asp-for="Location" class="control-label">
                    <option value="1111 west pine street">1111 west pine street</option>
                    <option value="7373 east shoulder avenue">7373 east shoulder avenue</option>
                    <option value="8787 harbor road">8787 harbor road</option>
                </select>
            </div>

            <input type="submit" value="Select Location" />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

