@model PizzaWebsite.Models.LocationModel
@{
    ViewData["Title"] = "AdminLocation";
}

<h1>Admin Selection for Location: @ViewData["adminlocation"]</h1>

<form asp-action="AdminOrderData" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="Location" class="control-label">
        <option value="@ViewData["adminlocation"]">Orders</option>
        </select>
    </div>

    <input type="submit" value="Admin Order Data" />
</form>

<form asp-action="AdminInventoryData" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="Location" class="control-label">
            <option value="@ViewData["adminlocation"]">Inventory</option>
        </select>
    </div>

    <input type="submit" value="Admin Inventory Data" />
</form>

<form asp-action="AdminUserData" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="Location" class="control-label">
            <option value="@ViewData["adminlocation"]">Users</option>
        </select>
    </div>

    <input type="submit" value="Admin User Data" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}