
@{
    ViewData["Title"] = "UserPreview";
}

<h1>User Preview</h1>
<p>Your order has "@ViewData["count"]" pizzas and costs "@ViewData["cost"]" dollars.</p>



<form target="_self" method="post">
    <br><br>
    <input type="submit" value="Confirm Order" />
</form>



<h2>@Html.ActionLink("Cancel Order", "Login", "User")</h2>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
