@model PizzaWebsite.Models.PizzaModel
@{
    ViewData["Title"] = "Custom Pizza";
}

@{
    ViewData["Title"] = "UserCustom";
}
<h1>Order a Custom Pizza</h1>

<form target="_self" method="post">
    <p>Pizza Size</p>
    <select name="PizzaSize">
        <option value="l">Large</option>
        <option value="m">Medium</option>
        <option value="s">Small</option>
    </select>
    <br><br>
    <p>Pizza Crust</p>
    <select name="PizzaCrust">
        <option value="l">Thick</option>
        <option value="s">Thin</option>
    </select>
    <br><br>
    <p>Pizza Toppings</p>
    <select name="PizzaTopping1">
        <option value="Mushrooms">Mushrooms</option>
        <option value="Onions">Onions</option>
        <option value="Bellpepper">Bellpepper</option>
        <option value="Spinach">Spinach</option>
        <option value="Jalepenos">Jalepenos</option>
    </select>
    <br><br>
    <select name="PizzaTopping2">
        <option value="Mushrooms">Mushrooms</option>
        <option value="Onions">Onions</option>
        <option value="Bellpepper">Bellpepper</option>
        <option value="Spinach">Spinach</option>
        <option value="Jalepenos">Jalepenos</option>
    </select>
    <br><br>
    <select name="PizzaTopping3">
        <option value="">None</option>
        <option value="Mushrooms">Mushrooms</option>
        <option value="Onions">Onions</option>
        <option value="Bellpepper">Bellpepper</option>
        <option value="Spinach">Spinach</option>
        <option value="Jalepenos">Jalepenos</option>
    </select>
    <br><br>
    <select name="PizzaTopping4">
        <option value="">None</option>
        <option value="Mushrooms">Mushrooms</option>
        <option value="Onions">Onions</option>
        <option value="Bellpepper">Bellpepper</option>
        <option value="Spinach">Spinach</option>
        <option value="Jalepenos">Jalepenos</option>
    </select>
    <br><br>
    <select name="PizzaTopping5">
        <option value="">None</option>
        <option value="Mushrooms">Mushrooms</option>
        <option value="Onions">Onions</option>
        <option value="Bellpepper">Bellpepper</option>
        <option value="Spinach">Spinach</option>
        <option value="Jalepenos">Jalepenos</option>
    </select>
    <br><br>
    <p>Pizza Quantity</p>
    <input type="number" max="100" min="1" name="PizzaQuantity" />
    <br><br>
    <input type="submit" value="Add Pizza(s)" />
</form>
<p>Your current total cost is "@ViewData["cost"]".</p>
<p>Your current total pizza count is "@ViewData["count"]".</p>

<h2>@Html.ActionLink("Order More?", "CustomOrPreset", "Order")</h2>
<h2>@Html.ActionLink("Finish Order", "UserPreview", "Order")</h2>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
